# Proxmox credentials
packer/credentials.pkr.hcl

# SSH keys
*.pem
*.pub
id_rsa*

# Packer cache
packer_cache/
*.box

# Temporary files
*.tmp
*.log

# VS Code
.vscode/

# MacOS
.DS_Store

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Terraform files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/*.tfplan.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*auto.tfvars
terraform/*.auto.tfvars.json
terraform/.terraformrc
terraform/terraform.rc
