# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
.terraform/
.terraform.lock.hcl
terraform.tfvars

# Crash logs
crash.log

# Ignore any .tfvars files that are generated automatically by Terraform Cloud or other tools
*auto.tfvars
*.auto.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc