# Configurazione completa Traefik in un singolo file
api:
  dashboard: true
  insecure: true

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

# Certificati SSL con Cloudflare
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ cloudflare_email }}
      storage: /data/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 30
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

# Configurazione dinamica inline
http:
  # Global redirect to https
  routers:
    http-catchall:
      rule: "hostregexp(`{host:.+}`)"
      entryPoints:
        - http
      middlewares:
        - redirect-to-https
      service: api@internal
  
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true
    
    # Headers per Proxmox
    proxmox-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Real-IP: "192.168.178.22"
          X-Forwarded-For: "192.168.178.22"
          X-Forwarded-Host: "pve.dev.matteobaracetti.com"

  serversTransports:
    insecure-transport:
      serverName: ""
      insecureSkipVerify: true

# TLS Options
tls:
  options:
    default:
      minVersion: "VersionTLS12"
      maxVersion: "VersionTLS13"
      cipherSuites:
        - "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
        - "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384"
        - "TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305"
